/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "susy";

$total-columns  : 12;             // a 12-column grid
$column-width   : 6em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters


.page {
  // page acts as a container for our grid.
  @include container;
  @include susy-grid-background;

  // header and footer are full-width by default.
  header, footer { clear: both; }

  // nav spans 3 columns of total 12.
  // nav { @include span-columns(2,12); }

  .content {
    // content spans the final (omega) 9 columns of 12.
    @include span-columns(12 omega,12);

    // main content spans 6 of those 9 columns.
    .main { @include span-columns(9,12); }
      #map {border:6px solid silver;  height:800px;}

    // secondary content spans the final 3 (omega) of 9 columns.
    .secondary {
      @include span-columns(3 omega,12);
      background-color: #222;
      height:800px;
    }
  }
}
